<div class="container-flex">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="jumbotron jumbotron-intro jumbotron-fluid">
                <div class="container text-desc">
                    <h1 class="display-4 title-text"><span class="greeting">{{greeting}}</span> Traveller!!</h1>
                    <p class="lead desc-text">Glad you are here, enjoy the site and Bon Voyage!!!! </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="jumbotron jumbotron-fluid jumbotron-options">
                <p class="lead ques-text">What do you want to look into?</p>
                <div class="row icon-row">
                    <div class="col-md-4 col-sm-12 col-lg-4 icon">
                        <img class="icon" src="https://image.flaticon.com/icons/svg/2984/2984097.svg" alt="hotel icon">
                        <br>
                        <h3 class="icon-label">  Hotels</h3>
                    </div>
                    <div class="col-md-4 col-sm-12 col-lg-4 icon">

                        <img class="icon" src="https://image.flaticon.com/icons/svg/744/744502.svg" alt="hotel icon">
                        <br>
                        <h3 class="icon-label">Flights</h3>
                    </div>
                    <div class="col-md-4 col-sm-12 col-lg-4 icon">

                        <img class="icon" src="https://image.flaticon.com/icons/svg/3069/3069469.svg" alt="hotel icon">
                        <br>
                        <h3 class="icon-label">Destinations</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>